// Ionic
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/ionic';
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/ionicons';



/* Fix the admin styles */
.admin.view {
	background-color: #fff !important;
}

.admin {
	textarea,
	input[type="text"],
	input[type="password"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="url"],
	input[type="search"],
	input[type="tel"],
	input[type="color"] {
		display: inline;
		padding-top: 2px; 
		padding-left: 0;
		height: auto;
		color: #111; 
		vertical-align: middle;
		font-size: 14px;
		line-height: 16px;
		width: auto !important;
		border: 1px solid #AAA;
		margin: 2px;
	}
	.btn {
		margin:3px;
	}

	.alert {
		width:100%;
	}
}
