<head>
  <title>4th Quarter</title>
  <meta name="viewport" content="minimal-ui">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="stylesheet" type="text/css" href="/stylesheets/mobile.css">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="76.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="144.png" />
</head>

<template name="mobileLayout">
	{{#ionBody}}
		{{>newBetsAlert}}
	    {{> yield}}
		{{>navigation}}
	{{/ionBody}}
</template>




<template name="navigation">
	  {{#ionTabs style="ios" class="tabs-dark tabs-icon-top"}}
        {{> ionTab title="New Bets" path="mobile.game" icon="ios-home"}}
        {{> ionTab title="Active Bets" path="activebets" icon="ios-star"}}
        {{> ionTab title="History" path="history" icon="ios-time"}}
        {{> ionTab title="Leaderboard" path="leaderboard" icon="ios-list"}}
        {{> ionTab title="Chat" path="chat" icon="ios-people"}}
      {{/ionTabs}}
</template>



<template name="newBetsAlert">
	<!-- Made visible when new bets are available -->
	<!-- Otherwise hidden -->
	{{#if showBetsAlert }}
		<div class="alert alert-success bet-alert" role="alert">
		  <button type="button" class="close alert-close" aria-label="Close">
		  	<span aria-hidden="true">&times;</span></button>
		  <a href="{{pathFor route='mobile.game'}}" class="bet-alert-link">New bets are available</a>
		</div> 
		<div class="greyness"></div>
	{{/if}}
</template>


