<head>
  <title>4th Quarter</title>
  <meta name="viewport" content="minimal-ui">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="stylesheet" type="text/css" href="/stylesheets/mobile.css">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="76.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="144.png" />
</head>

<template name="mobileLayout">
	{{#ionBody}}
		{{>newBetsAlert}}
	    {{> yield}}
		{{>navigation}}
	{{/ionBody}}
</template>




<template name="navigation">
	  {{#ionTabs style="ios" class="tabs-dark tabs-icon-top"}}
        {{> ionTab title="New Bets" path="mobile.game" icon="ios-home"}}
        {{> ionTab title="My Bets" path="activebets" icon="ios-checkmark"}}
        <!--{{> ionTab title="History" path="history" icon="ios-time"}}-->
        {{> ionTab title="Leaderboard" path="leaderboard" icon="ios-list"}}
        {{> ionTab title="Chat" path="chat" icon="ios-people"}}
        {{> ionTab title="Prizes" path="prizes" icon="ios-star"}}
      {{/ionTabs}}
</template>



<template name="newBetsAlert">
	<!-- Made visible when new bets are available -->
	<!-- Otherwise hidden -->
	{{#if getSessionValue "show_active_bet_popup" }}
	    {{#if getSessionValue "pageToShowNewBetPopup"}}
    		
    		<div class="alert alert-info bet-alert" role="alert" id="popup_new_available_bet">
    		  <button type="button" id="close_new_bet_popup" class="close alert-close" aria-label="Close" style="font-size: 40px;">
    		  	<span aria-hidden="true">&times;</span></button>
    		  <a href="{{pathFor 'mobile.game'}}" class="bet-alert-link">Get Ready for New Bet </a><br>
    		  <span class="small"><i>You will be automatically redirected in 3 seconds</i></span>
    		</div>
    		
    		<div class="greyness"></div>
		{{/if}}
	{{/if}}
</template>


