body {
	background-color: #272b30;
}
.view {
	background-color: #272b30 !important;
}


.ionic-body {
	color: #bbb !important;	
}
.table > thead > tr > td.balanced,
.table > tbody > tr > td.balanced,
.table > tfoot > tr > td.balanced,
.table > thead > tr > th.balanced,
.table > tbody > tr > th.balanced,
.table > tfoot > tr > th.balanced,
.table > thead > tr.balanced > td,
.table > tbody > tr.balanced > td,
.table > tfoot > tr.balanced > td,
.table > thead > tr.balanced > th,
.table > tbody > tr.balanced > th,
.table > tfoot > tr.balanced > th {
	background-color: #598359;
	color: #DAE7DD;
}

.bar.bar-dark {
	background-color:#3a3f44 !important; 
}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	color: #bbb !important;
}

.item {
	background-color: #1c1e22 !important;
	color: #bbb !important;
	border: 1px solid #0c0d0e !important;
}
.item-positive {
	background-color: #5bc0de !important;
	color: white !important;
}

.card {
	/*box-shadow: 0px 0px 15px rgba(255, 0, 0, 0.3) !important;*/
	border-radius: 6px ! important;
	background-color: #1c1e22 !important;
	border: 0;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
	border-top: 1px solid #333;
}



/* Blue button */
.button.button-positive {
	background-image: -webkit-linear-gradient(#74cae3, #5bc0de 60%, #4ab9db);
	background-image: -o-linear-gradient(#74cae3, #5bc0de 60%, #4ab9db);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#74cae3), color-stop(60%, #5bc0de), to(#4ab9db));
	background-image: linear-gradient(#74cae3, #5bc0de 60%, #4ab9db) !important;
	background-repeat: no-repeat;
	color: #ffffff;
	background-color: #31b0d5 !important;
	border-color: #2aabd2 !important;
	border-radius: 5px !important;
}
.button.button-positive:active {
	color: #ffffff;
	background-color: #31b0d5 !important;
	background-image: none !important;
	border-color: #2aabd2 !important;
}


/* Green button */
.button.button-balanced {
	background-image: -webkit-linear-gradient(#78cc78, #62c462 60%, #53be53);
	background-image: -o-linear-gradient(#78cc78, #62c462 60%, #53be53);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#78cc78), color-stop(60%, #62c462), to(#53be53));
	background-image: linear-gradient(#78cc78, #62c462 60%, #53be53) !important;
	background-repeat: no-repeat !important;
	color: #ffffff !important;
	background-color: #62c462 !important;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3) !important;
	border-radius: 5px !important;
}

.button.button-balanced:active,
.button.button-balanced.clicked{
	background-image: -webkit-linear-gradient(#2f7d2f, #379337 40%, #3da23d);
	background-image: -o-linear-gradient(#2f7d2f, #379337 40%, #3da23d);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#2f7d2f), color-stop(40%, #379337), to(#3da23d));
	background-image: linear-gradient(#2f7d2f, #379337 40%, #3da23d) !important;
	background-repeat: no-repeat !important;
	-webkit-filter: none !important;
	filter: none !important;
	border-color: rgba(0, 0, 0, 0.6) !important;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3) !important;
	background-color: #42b142 !important;
	border-radius: 5px !important;
}


/* Grey button */
.button.button-stable {
	background-image: -webkit-linear-gradient(#8a9196, #7a8288 60%, #70787d);
	background-image: -o-linear-gradient(#8a9196, #7a8288 60%, #70787d);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#8a9196), color-stop(60%, #7a8288), to(#70787d));
	background-image: linear-gradient(#8a9196, #7a8288 60%, #70787d) !important;
	background-repeat: no-repeat !important;
	-webkit-filter: none !important;
	filter: none !important;
	border-color: rgba(0, 0, 0, 0.6) !important;
	color: #ffffff !important;
	background-color: #7a8288 !important;
	border-radius: 5px !important;
}



.button.button-stable:active {
	background-image: -webkit-linear-gradient(#404448, #4e5458 40%, #585e62);
	background-image: -o-linear-gradient(#404448, #4e5458 40%, #585e62);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#404448), color-stop(40%, #4e5458), to(#585e62));
	background-image: linear-gradient(#404448, #4e5458 40%, #585e62) !important;
	background-repeat: no-repeat !important;
	filter: none !important;
	color: #ffffff !important;
	border-color: rgba(0, 0, 0, 0.6) !important;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3) !important;
	background-color: #7a8288 !important;
	border-radius: 5px !important;
}


.recess {
	background-color: none;
	background-image: -webkit-linear-gradient(#020202, #101112 40%, #191b1d);
	background-image: -o-linear-gradient(#020202, #101112 40%, #191b1d);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#020202), color-stop(40%, #101112), to(#191b1d));
	background-image: linear-gradient(#020202, #101112 40%, #191b1d);
	background-repeat: no-repeat;
	-webkit-filter: none;
	filter: none;
	border: 1px solid rgba(0, 0, 0, 0.6);
	animation-duration: 1s;
}
.recess.danger {
	background-image: linear-gradient(#241515, #521818 40%, #2D1515) !important;
}
.recess.success {
	background-image: linear-gradient(#152415, #144114 40%, #0F1D0C) !important;
}

.text-muted {
	color:#7a8288 !important;
}
.text-info {
	color: #5bc0de !important;
}
.text-success {
	color: #62c462 !important;
}
.text-danger {
	color:#ee5f5b !important;
}
.text-warning {
	color: #f89406 !important;
}
.bet-alert {
	padding:30px;
	font-size:20px;
	position: absolute;
	top:50px;
	left:5px;
	right: 5px;
	width: auto;
	z-index: 999;
}