<head>
  <title>4th Quarter</title>
  <meta name="viewport" content="minimal-ui">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="stylesheet" type="text/css" href="/stylesheets/mobile.css">
</head>

<template name="mobileLayout">
	{{#ionBody}}
	    {{#ionContent}}
		    {{#ionNavView}}
		      {{> yield}}
		    {{/ionNavView}}
		{{/ionContent}}	
		{{>navigation}}
	{{/ionBody}}
</template>




<template name="navigation">
	{{#if isAndroid}}
      {{#ionTabs style="android" class="tabs-dark tabs-icon-top"}}
        {{> ionTab title="New Bets" href="mobile.game" icon="android-home"}}
        {{> ionTab title="Active Bets" href="activebets" icon="android-star"}}
        {{> ionTab title="History" href="history" icon="android-time"}}
        {{> ionTab title="Leaderboard" href="leaderboard/" icon="android-list"}}
        {{> ionTab title="Chat" href="chat" icon="android-happy"}}
      {{/ionTabs}}
    {{else}}
      {{#ionTabs style="ios" class="tabs-dark tabs-icon-top"}}
        {{> ionTab title="New Bets" path="mobile.game" icon="ios-home"}}
        {{> ionTab title="Active Bets" path="activebets" icon="android-star"}}
        {{> ionTab title="History" path="history" icon="ios-time"}}
        {{> ionTab title="Leaderboard" path="leaderboard" icon="ios-list"}}
        {{> ionTab title="Chat" path="chat" icon="ios-people"}}
      {{/ionTabs}}
    {{/if}}
</template>




<template name="sideMenuContent">
	<div class="list">
	  <a class="item item-icon-left" href="#">
	    <i class="icon ion-ribbon-a"></i>
	    Leaderboard
	  </a>

	  <a class="item item-icon-left" href="#">
	    <i class="icon ion-person-stalker"></i>
	    Friends
	  </a>

	  <a class="item item-icon-left" href="#">
	    <i class="icon ion-ios-americanfootball"></i>
	    Prizes
	   	<span class="badge badge-assertive">4</span>
	  </a>

	  <a class="item item-icon-left" href="#">
	    <i class="icon ion-ios-person"></i>
	    Profile
	  </a>

	  <a class="item item-icon-left" href="{{ pathFor route="mobile.logout"}}">
	    <i class="icon ion-power"></i>
	    Logout
	  </a>
	</div>
</template>

