<template name="Leaderboard">
    <div class="bar bar-header bar-dark">
        <h1 class="title">Leaderboard</h1>
    </div>
    {{#ionContent}}
    <br>
    <br>
    
{{#if isEq currentUser.guest "guest"}}
    {{> MobileFacebookLink textAboveButton="To see full leaderboard" textBelowButton="to gain access to all features"}}
{{else}}        
	
    <div class="card" style="margin-top: 10px;">
	  <div id="bet-answer-wrapper" class="item item-text-wrap" style="padding-bottom: 6px;padding-top: 6px;">
          <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>#</th>
                        <th></th>
                        <th>{{> ionIcon icon='android-contact' class='leaderboard-person' }}</th>
                        <th>{{> ionIcon icon='social-usd' class='leaderboard-money' }}</th>
                        <!--<th>{{> ionIcon icon='checkmark' class='leaderboard-tick' }}</th>-->
                        <th style="padding-right: 1px;">Potential</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each getUserLeaderboard}}
                    <tr class="{{#if highlightMyselfOnTable}}balanced{{/if}}" style="{{#if highlightMyselfOnTable}}font-size: larger; font-weight: bolder; {{/if}}">
                        <td>{{index_in_list}}</td>
                        <td style="padding-bottom: 0px;"><img class="profile-pic" src="{{ profile.image.small }}"></td>
                        <td>{{profile.name}}</td>
                        <td>{{numberFormatBy bank_account '$0,0'}}</td>
                        <!--<td>{{numberFormatBy user_stats.bets_won_percentage '0,0%'}}</td>-->
                        <td style="padding-right: 1px;">${{addTwoNumbers user_stats.potential_winnings bank_account}}</td>
                    </tr>
                    {{/each}}
                    
                    {{#unless getSessionValue 'LeaderboardAmIinTop10'}}
                    <!--<tr><td>...</td><td></td><td></td><td></td><td></td><td></td></tr>-->
                    <tr class="balanced" style="font-size: larger; font-weight: bolder;">
                         <td>{{index_outside_of_list}}+</td>
                        <td style="padding-bottom: 0px;"><img class="profile-pic" src="{{ currentUser.profile.image.small }}"></td>
                        <td>{{currentUser.profile.name}}</td>
                        <td>{{numberFormatBy currentUser.bank_account '$0,0'}}</td>
                        <!--<td>{{numberFormatBy currentUser.user_stats.bets_won_percentage '0,0%'}}</td>-->
                        <td style="padding-right: 1px;">${{addTwoNumbers currentUser.user_stats.potential_winnings currentUser.bank_account}}</td>
                    </tr>
                    {{/unless}}
                </tbody>
            </table>
        </div>
    </div>
{{/if}}
    {{/ionContent}}
    
</template>
