<template name="MobileSignup">
	<br>
	<h1 class="text-center">Create Account</h1>

	<div class="list list-inset" id='signup-form'>
		<div id='error' class="alert alert-danger" role="alert">
	  		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	  		<span class="sr-only">Error:</span>
	  		<span class='message'>Enter a valid email address</span>
		</div>
	  <label class="item item-input">
	    <input name='username' type="text" placeholder="Username" autocapitalize="off">
	  </label>
	  <label class="item item-input">
	    <input name='email' type="email" placeholder="Email">
	  </label>
	  <label class="item item-input">
	    <input name='password' type="password" placeholder="Password">
	  </label>
	  <label class="item item-input">
	    <input name='password2' type="password" placeholder="Password (again)">
	  </label>
	</div>
	<div class="padding">
	    <button id='signup-button' class="button button-block button-positive activated">Create Account</button>
	</div>
	<p class="text-center white-a" >
		Already have an account? 
		<a href="{{pathFor route='mobile.login'}}">Login</a>
	</p>
</template>