/*****************************************************************************/
/* Signup: Style */
/*****************************************************************************/

#error {
	display: none;
}


#signup-form .item {
	background-color: #fff !important; 
	color: #eee !important;
	border: 1px solid #ddd !important; 
}

p .white-a {
	color: #eee !important;
}