<template name="Chat">
    <div class="bar bar-header bar-dark">
		<h1 class="title">Chat (newest first)</h1>
	</div>
	{{#ionContent}}
	<br><br>
	<div class="list">
	    
	{{#each messages }}
	
	        <a class="item chat-thumbnail-left" href="#">
        		<div class='chat-div'>
        		    <img class="chat-profile-pic" src="{{user_img}}"><br>
        		    <p class="chat-profile-name">{{user_name}}</p>
    		    </div>
          		<h2 style="white-space: normal;">{{ message }}</h2>
          		<p style="white-space: normal;"><i>{{prettifyDate submitted_at}}</i></p>
          	</a>
    	
		{{ else }}
			<br><br>
			<a class="item" href="#">
		    	Chat is empty. Be the first to post!
		    </a>
		{{/each}}
		</div>
	{{/ionContent}}	
    

    {{#ionFooterBar}}
    <form id="message_form">
		<input type = "text" placeholder = "Write message here and press <Enter> to send" id="send_message">
	</form>
	{{/ionFooterBar}}
</template>