<template name="History">
    <div class="bar bar-header bar-dark">
		<h1 class="title">Bet History</h1>
	</div>
	{{#ionContent}}
	<br><br>
	<div class="list">
	    
	{{#each bets }}
	
	    {{#if skipped}}
	        <a class="item item-thumbnail-left" href="#">
        		<i class='icon bet-status-icon ion-minus-round skipped'></i>
          		<h2 style="white-space: normal;">{{ question }}</h2>
          		<p style="white-space: normal;"><i>{{ status_update }}</i></p>
          		<p>Your Bet: {{ user_answer }}</p>
          		<p>Correct Bet: {{ correct_answer }}</p>
          	</a>
	    {{else}}
    		{{#if is_correct}}    	
    	    	<a class="item item-thumbnail-left" href="#">
    	    		<i class='icon bet-status-icon ion-checkmark correct'></i>
    	      		<h2 style="white-space: normal;">{{ question }}</h2>
    	      		<p style="white-space: normal;"><i>{{ status_update }}</i></p>
    	      		<p>Your Bet: {{ user_answer }}</p>
    	      		<p>Correct Bet: {{ correct_answer }}</p>
    	      		<p style="color:rgb(0, 207, 0)"><b>${{numberFormatBy profit '0,00'}}</b></p>
    	      	</a>
          	{{ else }}    	
        		<a class="item item-thumbnail-left" href="#">
    	    		<i class='icon bet-status-icon ion-close incorrect'></i>
    	      		<h2 style="white-space: normal;">{{ question }}</h2>
    	      		<p style="white-space: normal;"><i>{{ status_update }}</i></p>
    	      		<p>Your Bet: {{ user_answer }}</p>
    	      		<p>Correct Bet: {{ correct_answer }}</p>
    	      		<p style="color:rgb(207, 0, 0)"><b>{{numberFormatBy profit '$0,00'}}</b></p>
    	      	</a>
    	    {{/if}}
    	{{/if}}
    	
		{{ else }}
			<br><br>
			<a class="item" href="#">
		    	None of your bets have been resolved
		    </a>
		{{/each}}
		</div>
	{{/ionContent}}	
</template>