<template name="MobileLanding">

  {{#contentFor "headerButtonRight"}}
    <button id="side-menu-button" menu-toggle="left" class="button button-clear pull-right">
      {{> ionIcon icon='navicon'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Games</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      <div class="game-list">
        <div class="featured-game-wrapper">
          {{#with featured_game }}
            <div class="featured-game col col-100">
            	<a href="{{pathFor route='mobile.game'}}">
            		<button class="button button-block button-positive button-game-select">
      				    {{title}}
				    </button>
            	</a>
            </div>
          {{/with}}
        </div>
        
       <!-- <div class="tutorial-button-wrapper">-->
       <!--     <div class="tutorial-button-col col col-100">-->
       <!--     	<a href="{{pathFor route='tutorial'}}">-->
       <!--     		<button class="button button-block button-dark tutorial-button">-->
      	<!--			    <i class="fa fa-question"></i> Help & Tutorial-->
			    <!--</button>-->
       <!--     	</a>-->
       <!--     </div>-->
       <!-- </div>-->

        <div class="active-game-wrapper">
	        {{#each active_games }}
            <div class="active-game col col-50">
	        		<a href="{{pathFor route='mobile.game'}}">
		        		<button class="button button-block button-balanced button-game-select">
		  				    {{title}}
					    </button>
		        	</a>
            </div>
	        {{/each}}
	      </div>

        <div class="upcoming-game-wrapper">
          {{#each upcoming_games }}
            <div class="active-game col col-50">
              <a href="{{pathFor route='mobile.game'}}">
        		    <button class="button button-block button-royal button-game-select">
  				       {{title}}
			        </button>
        	  </a>
          </div>
        {{/each}}
        </div>
      </div>

    {{/ionContent}}
  {{/ionView}}
</template>