<template name="MobileLogin">
	<br>
	<form id='login-form'>
		<h1 class="text-center">Login</h1>
		<div class="list list-inset">
			<div id='error' class="alert alert-danger" role="alert">
		  		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		  		<span class="sr-only">Error:</span>
		  		<span class='message'>Enter a valid email address</span>
			</div>
		  <label class="item item-input">
		    <input name='username' type="text" placeholder="Username" autocapitalize="off">
		  </label>
		  <label class="item item-input">
		    <input name='password' type="password" placeholder="Password" autocapitalize="off">
		  </label>
		</div>
		<div class="padding">
		    <button role="submit" class="button button-block button-positive activated">Submit</button>
		</div>
		<p class="text-center">
			No account? 
			<a href="{{pathFor route='mobile.signup'}}">Sign Up</a>
		</p>
	</form>
</template>