/*****************************************************************************/
/* Game: Style */
/*****************************************************************************/


#bet-question {
	min-height: 80px !important;
	vertical-align: center;
	padding: 30px !important;
}
