<template name="MobileGame">

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-positive" text=false}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear pull-right button-positive" data-action="share-product" data-product-id="{{product._id}}">
      {{> ionIcon icon='navicon'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{ game.title }}</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

 	{{#with current_bet }}

 		<button id='wager-button' class="button button-energized">
 	 		{{ bet_amount }} 123
		</button>
 	
 		<div class="card">
		  <div id="bet-question" class="item item-divider calm-bg calm-border">
		    {{ question }}
		  </div>
		  <div class="item item-text-wrap">
		  	  {{#each outcomes }}
			  	<div class="item item-divider bet-option-button">
			  		{{ text }}
			  		<p class='clearfix'>
			  			<span class='pull-left'>{{ odds }}:1</span>
			  			<span class='pull-right'>+600</span>
			  			<!-- ASSAF: I NEED A 'MONEY' DATA ATTRIBUTE HERE -->
			  		</p>
				</div>
			  {{/each}}
			  <br>
			  <a href="#" class='bet-skip-button'>skip</a>
			  <br>
		<!-- END QUESTION -->
		</div>
		</div>

		<div>
			<div class="text-center">
			  <br>
			  <div class="bet-user-bank">
			  	<!-- ASSAF: I NEED A BANK ATTRIBUTE ON THE USER -->
			  	<h2>
			  		{{ user.bank }}
			  		$12,800
			  	</h2>
			  </div>
			  <div class="bet-status-message">
			  	<!-- ASSAF: I REALLY DON"T KNOW HOW TO UPDATE THE STATUS MESSAGE -->
			  	<p>{{ status_message }} We are going to put the status message here</p>
			  </div>
		  </div>
		</div>
	{{/with}}

    {{/ionContent}}
  {{/ionView}}
</template>