<template name="MobileGame">

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="" text=false}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button id="side-menu-button" menu-toggle="left" class="button button-clear pull-right">
      {{> ionIcon icon='navicon'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{ game.title }}</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

    
 	{{#with current_bet }}
 	{{#if getSessionValue "my_temp_bets"}}
  		<button id="buy-chips-button" class="button button-balanced" style="margin-bottom: 0px;margin-top: 10px;">
  		    <p>WAAAA</p>
		</button>

 	{{/if}}
 	<!-- TODO: "See Nearby People" feature -->
 		<!-- <button id="see-nearby-people">
 			See Nearby People
 		</button>
 		<div>
 			{{users_nearby}}
 		</div> -->

 		{{#if question }}
	 		{{#if is_user_bankrupt }}
		 		<button id="buy-chips-button" class="button button-balanced" style="margin-bottom: 0px;margin-top: 10px;">
		 	 		{{#if currentUser.bank_request_more_funds}}
		 	 		    <p>Buy More Chips Not Available</p>
		 	 		{{else}}
		 	 		    <p>Buy More Chips</p>
		 	 		{{/if}}
				</button>
			{{ else }}
			    {{#unless getSessionValue "usingVerySmallScreen"}}
			    <div class="bet-amount-div" align="center">
			    <!--<div class="bet-amount-div" style="margin-bottom: 0px;margin-right: 50px" align="center">-->
			        <!--RERURN THIS LATER ON! Need both the button and the margin right=50px from the line above-->
			        <!--<button id="game-info-button" style="margin-top: 4px; margin-bottom: 0px; padding-left: 0px; padding-right: 0px; width: 50px; overflow: visible; overflow-wrap: normal; padding-bottom: 0px; padding-top: 0px; height: 48px; line-height: 1.1; font-size: 12px; vertical-align: middle;" class="btn btn-large btn-default pull-left">-->
			        <!--    <p style="overflow-wrap: normal;margin-bottom: 0;white-space: normal;">{{getGameName}}</p>-->
			        <!--</button>-->
	    		    <button id="bet-amount-button-neg" class="btn btn-lg btn-danger" style="margin-top:4px;margin-bottom:4px">-</button>
	    			<button id="bet-amount-button" style="margin-top:4px; margin-bottom:4px;padding-left: 0px;padding-right: 0px;width: 80px;" 
	    			        class="button button-positive" >
	    	 	 		<p class="bet-amount-value">{{ formatted_bet_amount }}</p>
	    	 	 		<p class="bet-amount-label">Bet amount</p>
	    			</button>
	    			<button style="margin-top:4px;margin-bottom:4px" id="bet-amount-button-pos" class="btn btn-lg btn-success">+</button>
				</div>
				{{/unless}}
			{{/if}}
		{{ else }}
			<h3 id='more-bets-soon' class='text-center'>More Bets Coming Soon!</h3>
		{{/if}}

		
 		<div class="card">
		  <div id="bet-question-wrapper" style="white-space: normal;">
		  <!-- MAX: TODO - fix the white-space:normal thing I did above... -->
		    {{#if question}}
		    	<div id="bet-question">
		        	{{ question }}
		        </div>
		    {{else}}
		    	<div class="button-bar card-tabs">
		    		{{# if show_twitter}}
				  		<a class="button button-dark icon-left ion-ios-list" id="leaderboard-tab">Leaderboard</a>
				  		<a class="button button-dark icon-left ion-social-twitter active" id="twitter-tab">Live Feed</a>
				  	{{ else }}
				  		<a class="button button-dark icon-left ion-ios-list active" id="leaderboard-tab">Leaderboard</a>
				  		<a class="button button-dark icon-left ion-social-twitter" id="twitter-tab">Live Feed</a>
				  	{{/if}}
				</div>
		    {{/if}}
		  </div>
		  <div id="bet-answer-wrapper" class="item item-text-wrap">
		  {{#if status }} <!-- crude way to check whether there's a status, i.e. there's a bet-->
		  	  <div class="bet-answer">
			  	  {{#each addIndexesToArray outcomes }}
			  	    {{#if notEmptyString text}}
			  	    <div class="bet-option-div" style="padding-bottom: 5px; padding-top: 5px;">
					  	<button class="button button-balanced bet-option-button" data-index-for-ref="{{index_for_ref}}" {{disable_based_on_bank_account}}>
					  		<p class="bet-option-p" >{{ text }}</p>
					  		<p class='clearfix'>
					  			<span class='odds-text pull-left'>{{ odds }}:1</span>
					  			<span class='win-text pull-right'>{{ formatted_win_value }}</span>
					  		</p>
						</button>
						{{#unless getSessionValue "usingSmallScreen"}}
						<div class='user-face-wrapper clearfix'>
						{{#each users_in_question index_for_ref }}
							<div class='user-face'>
								<span class='user-face-grey'>?</span>
								<img class='user-face-image' src={{ profile.image.small }} />
							</div>
						{{/each}}
						</div>
						{{/unless}}
					</div>
					{{/if}}
				  {{/each}}
				  <br>
				  <a href="#" id="bet-skip-button" class='button button-stable'>skip</a>
				</div>
		    {{else}} <!--  No current bet-->
		    	{{#if show_twitter }}
	            	{{> TwitterFeed }}
		    	{{else}}
		    		{{> LeaderboardPreview }}
		    	{{/if}}
	        {{/if}}
		    </div>
		</div> <!-- END QUESTION -->
	{{/with}}
	
    {{/ionContent}}
    {{#ionFooterBar class="large-footer"}}
		<div id="footer-content" class="text-center">
		  <div class="recess bet-user-bank">  	
		  	<span>
		  		{{ formatted_bank_account }}
		  	</span>
		  </div>
		  {{#if current_status_message }}
    		  <div class="bet-status-message">
    		  	<p class="status_message">{{ current_status_message }}</p>
    		  </div>
		  {{else}}
		    <div class="bet-ongoing-stats">
		  	     <span>{{ number_bets }} bets 
		  	    <!--(total <span class="text-info">${{ value_bets}}</span>) -->
		  	    pending -- can win additional <span class="text-info">{{numberFormatBy getMyStats.user_stats.potential_winnings '$0,0'}}</span>!</span>
		    </div>
		  {{/if}}
	  </div>
	{{/ionFooterBar}}
  {{/ionView}}
</template>




<template name="TwitterFeed">
	{{#each tweets}}
	    <a class="item twitter-thumbnail-left" href="#">
    		<div class='twitter-div'>
    		    <img class="twitter-profile-pic" src="{{user.image_url}}"><br>
    		    <!--<p class="twitter-profile-name">{{user.name}}</p>-->
    	    </div>
      		<h2 class="twitter-main-text">{{ text }}</h2>
      		<p class="twitter-date"><i>{{prettifyDate created_at}}</i></p>
      		<p class="twitter-user-name-container">By <span class="twitter-user-name">{{user.name}}</span></p>
      	</a>
	  <!--<a href="#" class="item item-icon-left">-->
	  
	  <!--  <i class="icon ion-social-twitter-outline"></i>-->
	  <!--  {{ text }}-->
	  <!--</a>-->
	{{ else }}
		<a href="#" class="item item-icon-left">
	    	<i class="icon ion-social-twitter-outline"></i>
	   	 	Coming soon...
	  	</a>
	{{/each}}
</template>



<template name="LeaderboardPreview">    
    {{> LeaderboardTable num_users_to_show="3"}}
    {{#unless isUsingFacebook}}
        {{> MobileFacebookLink textAboveButton="To enjoy all features"}}
  	{{/unless}}
</template>




<template name="MobileFacebookLink">
    {{#if isFacebookLinkError}}
            <div id='login-button-wrapper' class='text-center'>
                <h2 class="error-in-red">Error linking to Facebook account<br>Do you have a separate account?</h2>
            </div>
        {{else}}
            <div id='login-button-wrapper' class='text-center'>
                <div class="login-button" title="Login with Facebook">
          		    
          		    <a id='facebook-login-button-for-guest'>
          		        <p>{{textAboveButton}}</p>
          		        <img src="/images/fblogin1.png" alt="Login with Facebook" style="width:200px">
          		        <p style="margin-top: -10px;">{{textBelowButton}}</p>
      		        </a>
          		</div>
          	</div>
        {{/if}}
</template>