/*****************************************************************************/
/* Game: Style */
/*****************************************************************************/


#bet-question {
	min-height: 80px !important;
	vertical-align: center;
	padding: 30px !important;
}

#buy-chips-button {
	margin: 10px auto;
	width: 160px;
	display: block;
	font-size: 16px;
	line-height: 16px;
}
#buy-chips-button p {
	margin: 5px 0;
}

#bet-amount-button {
	margin: 10px auto;
	width: 140px;
	display: block;
}

#bet-amount-button .bet-amount-value {
	font-size: 16px;
	line-height: 16px;
	margin:2px;
}


#bet-amount-button .bet-amount-label {
	font-size: 12px;
	line-height:12px;
	margin: 3px 0 0 0;
}

#bet-amount-ui {
	position: absolute;
	top: 100px;
	width: 100%;
	z-index: 999;
}