<template name="MobileGame">

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="" text=false}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button id="side-menu-button" menu-toggle="left" class="button button-clear pull-right">
      {{> ionIcon icon='navicon'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{ game.title }}</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

    
 	{{#with current_bet }}
 		{{#if is_user_bankrupt }}
	 		<button id="buy-chips-button" class="button button-balanced" style="margin-bottom: 0px;margin-top: 10px;">
	 	 		<p>Request More Credits</p>
			</button>
		{{ else }}
			<button id="bet-amount-button" class="button button-positive" style="margin-bottom: 0px;margin-top: 10px;">
	 	 		<p class="bet-amount-value">{{ formatted_bet_amount }}</p>
	 	 		<p class="bet-amount-label">Bet amount</p>
			</button>
		{{/if}}
	
 		<div class="card" style="margin-top: 10px;">
		  <div id="bet-question-wrapper" class="item item-divider" style=" white-space: normal; ">
		  <!-- MAX: TODO - fix the white-space:normal thing I did above... -->
		    {{#if question}}
		        {{ question }}
		    {{else}}
		        <h1 id='leaderboard-title' class='text-center'>Leaderboard</h1>
		        <span id='leaderboard-subtext'>More bets coming soon!</span>
		    {{/if}}
		  </div>
		  <div id="bet-answer-wrapper" class="item item-text-wrap" style="padding-bottom: 6px;padding-top: 6px;">
		  {{#if status }} <!-- crude way to check whether there's a status, i.e. there's a bet-->
		  	  {{#each addIndexesToArray outcomes }}
		  	    {{#if notEmptyString text}}
		  	    <div class="bet-option-div" style="padding-bottom: 5px;">
				  	<button class="button button-balanced bet-option-button" data-index-for-ref="{{index_for_ref}}">
				  		{{ text }}
				  		<!-- Jialu: play with users_in_bet -->
				  		<p class='clearfix'>
				  			<span class='odds-text pull-left'>{{ odds }}:1</span>
				  			<span class='win-text pull-right'>{{ formatted_win_value }}</span>
				  		</p>
					</button>
					<div class='user-face-wrapper clearfix'>
					{{#each users_in_question index_for_ref }}
						<div class='user-face'>
							<span class='user-face-grey'>?</span>
							<img class='user-face-image' src={{ profile.image.small }} />
						</div>
					{{/each}}
					</div>
				</div>
				{{/if}}
			  {{/each}}
			  <br>
			  <a href="#" id="bet-skip-button" class='button button-stable'>skip</a>
			  <br>
		    {{else}} <!--  No current bet-->
	            {{> Leaderboard}}
	        {{/if}}
		    </div>
		</div> <!-- END QUESTION -->
	{{/with}}
	
    {{/ionContent}}
    {{#ionFooterBar class="large-footer" }}
		<div id="footer-content" class="text-center">
		  <div class="recess bet-user-bank">  	
		  	<span>
		  		{{ formatted_bank_account }}
		  	</span>
		  </div>
		  <div class="bet-ongoing-stats">
		  	 <span>{{ number_bets }} bets 
		  	 (<span class="text-info">${{ value_bets}}</span>) pending!</span>
		  </div>
		  <div class="bet-status-message">
		  	<p class="status_message">{{ current_status_message }}</p>
		  </div>
	  </div>
	{{/ionFooterBar}}
  {{/ionView}}
</template>