/*****************************************************************************/
/* Leaderboard: Style */
/*****************************************************************************/

.leaderboard-tick {
	color: rgb(0, 190, 0);
	font-size: 20px;
	text-align: center;
	display: block;
}
.leaderboard-money {
	color: rgb(0, 150, 0);
	font-size: 20px;
	text-align: left;
	display: block;
}
.leaderboard-person {
	color: rgb(0, 180, 187);
	font-size: 20px;
	text-align: left;
	display: block;
}
.profile-pic {
	width: 22px;
	height: 22px;
	border-radius: 22px;
	border: 1px solid #999;
	margin: 0px;
}


/*****************************************************************************/
/* Game: Style */
/*****************************************************************************/


#bet-question {
	min-height: 40px !important;
	vertical-align: center;
	padding: 15px !important;
}
#bet-question-wrapper {
	font-size: 18px;
}
#bet-answer {
	padding-top: 4px;
	padding-bottom: 8px;
}
#bet-answer-wrapper {
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left:0;
	padding-right:0;
}

#bet-skip-button {
	margin: 0 10px !important;
	height: 26px;
	line-height: 24px;
	min-height: 24px;
}
#bet-skip-button:active {
	background-color: #ccc;
	color: white;
	text-decoration: none;
}

.bet-option-div {
	width: 50%;
	padding:10px;
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 50%;
	-moz-box-flex: 0;
	-moz-flex: 0 0 50%;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	float: left;
	max-width: 50%;
}

.bet-option-div .user-face-wrapper {
	height: 24px;
}
.bet-option-div .user-face,
.bet-option-div .user-face-image,
.bet-option-div .user-face-grey {
	width: 14px;
	height: 14px;
	float: left;
	display: block;
	border-radius: 7px;
}

.bet-option-div .user-face {
	margin: 5px 3px 5px 0;
}
.bet-option-div .user-face-image {
	background-color: red;
	border: 1px solid rgb(124, 124, 124);
}
.bet-option-div .user-face-grey {
	position: absolute;
	font-size: 9px;
	line-height: 12px;
	text-align: center;
	font-weight: bold;
	background-color: rgb(87, 113, 121);
	border: 1px solid rgb(176, 176, 176);
	color: #fff;
}
.bet-option-div.clicked .user-face-grey {
	visibility: hidden
}

.card-tabs .button {
	line-height: 50px;
}


/* Bet Option Button */
.bet-option-button {
	width: 100%;
	padding: 6px 6px 5px 10px!important;
	font-size: 20px !important;
}
.bet-option-button p span {
	line-height: 10px;
	font-size: 10px;
}
.bet-option-button p span.odds-text {
	color: #fff;
}
.bet-option-button p span.win-text {
	color: #fff;
}
.bet-option-button:active,
.bet-option-button.clicked {
	color: white;
	background-color: #ccc;
	text-decoration: none;
	opacity: 1 !important;
}
.bet-option-button.clicked {
	background-color: #bbb;
}




/* Buy chips UI */
#buy-chips-button {
	margin: 10px auto;
	width: 160px;
	display: block;
	font-size: 16px;
	line-height: 16px;
}
#buy-chips-button p {
	margin: 5px 0;
}

.bet-amount-div {
    display: block;
    vertical-align: middle;
    text-align: center;
    margin-top: 10px;
    margin-bottom: -10px;
}

#bet-amount-button {
	margin: 10px auto;
	width: 140px;
}
#bet-amount-button-pos {
	margin: 10px auto;
	width: 50px;
	font-size: 20px;
	padding: 10px 5px;
}
#bet-amount-button-neg {
	margin: 10px auto;
	width: 50px;
	font-size: 20px;
	padding: 10px 5px;
}

#bet-amount-button .bet-amount-value {
	font-size: 16px;
	line-height: 16px;
	margin:2px;
}


#bet-amount-button .bet-amount-label {
	font-size: 12px;
	line-height:12px;
	margin: 3px 0 0 0;
}

#bet-amount-ui {
	position: absolute;
	top: 100px;
	width: 100%;
	z-index: 999;
}

#leaderboard-text {
	margin: 0;
}

#leaderboard-subtext {
	text-align: center;
	display: block;
	font-size: 0.6em;
	line-height: 1em;
}
#more-bets-soon {
	margin-top: 14px;
}

.large-footer {
	width: 100%;
	min-height: 105px;
	background-color:#272b30 !important;
	background-image: none !important;
	padding-bottom: 0px;
}

.large-footer #footer-content {
	width: 100%;
}

.bet-user-bank {
	width:140px;
	margin: 7px auto;
	margin-top: 3px;
	border-radius: 20px;
}

.bet-user-bank span {
    font-size: 37px;
    display: block;
    height: 40px;
    line-height: 40px;
    margin: 5px;
    margin-left: -3px;
    width: auto;
}

.ion-social-twitter-outline {
	color: rgb(0, 187, 255);
}

/*****************************************************************************/
/* LinkWithFacebook Style                                                    */
/*****************************************************************************/

.h2 .error-in-red {
    color:red;
}