/*****************************************************************************/
/* Activebets: Style */
/*****************************************************************************/
.bet-status-amount {
	font-size: 28px;
	float: left;
	position: absolute;
	top: 30px;
	left: 10px;
	bottom: auto;
	color: rgb(0, 207, 0);
}