<template name="MobileFacebookLogin">
  {{#ionView class='mobile'}}
    {{#ionContent}}
	  <div id='logo-wrapper' class='text-center'>
	  	<img src="/images/four256.png">
	  </div>
	  <p id='error'>No error yet</p>
	  <div id='login-button-wrapper' class='text-center'>
	  	<button  id='facebook-login-button' class='button button-outline button-royal em'>Login with Facebook</button>
	  </div>
    {{/ionContent}}
    <div class="bar bar-footer bar-dark">
      	<button class="button button-clear">Privacy</button>
  			<div class="title"></div>
  		<button id="alternative-login" class="button button-clear">Login without Facebook</button>
	</div>
  {{/ionView}}
</template>