/*****************************************************************************/
/* FacebookLogin: Style */
/*****************************************************************************/

.mobile.view {
	background-color: #272b30 !important;
}

#error {
	visibility:hidden;
}

#login-button-wrapper {
	margin-top: 40px
}

#facebook-login-button:active {
	background-color: #8a6de9;
	color: white;
}
