<template name="MobileFacebookLogin">
  {{#ionView class='mobile'}}
    {{#ionContent}}
     
    <!--<div id="top-wrapper" class='text-center'>-->
    <!--    <h2>NextPlayNow</h2>-->
    <!--</div>-->
	<div id='logo-wrapper' class='text-center'>
	  	<h2>NextPlayNow</h2>
	  	<h3>Putting <span class="highlight-in-blue">You</span> in the <span class="highlight-in-blue">Game</span></h3>
	  	
    </div>
    <div id="quote-wrapper" class="text-center">
	  	<p>"I turned into a <span class="highlight-in-blue">maniac</span>. I had to <span class="">win</span>." <i><span class="highlight-quote">-&nbsp;Maureen</span></i></p>
	  	<p>"We were <span class="highlight-in-blue">glued</span> to our phones... Very&nbsp;addicting!"<i><span class="highlight-quote">-&nbsp;Doug</span></i></p>
	  	<!--<p>Real prizes - Free to play</p>-->
    </div>
      
	  <p id='error'>No error yet</p>
	  <div id='login-button-wrapper' class='text-center'>
	  	<!-- Facebook login button -->
	  	<!--<h1>NextPlayNow</h1>-->
	  	<p>Easy. Fun. Free.</p>
	  	<a id='facebook-login-button' class="login-button" title="Login with Facebook">
	  		<img src="/images/facebook-button.png" alt="Login with Facebook">
	  	</a>
        <span class="note-in-small-font">We will never post anything to Facebook.</span>
	  	<!-- Username login button -->
	   <!-- <a id='email-login-button' href="{{pathFor route='mobile.signup' }}" class="login-button" title="Login with Email">-->
	  	<!--	<img src="/images/email-button.png" alt="Login with Email">-->
	  	<!--</a>-->
	  	<div style="text-align: right;">
	  	    <a href="{{pathFor route='mobile.signup' }}">Login with email instead...&nbsp;&nbsp;</a>
	  	</div>
	  		<!--<img src="/images/email-button.png" alt="Login with Email">-->
	  </div>

	   <div id="background-wrapper">
	      <div id="background-image">
	      </div>
	   </div>
    {{/ionContent}}
  {{/ionView}}
</template>