<template name="MainAdmin">
{{#ionView class="admin" }}
{{#ionContent overflow-scroll=true }}
    <!--{{#if currentUser}}-->
        {{#if LoggingIn}}
            Loading...
        {{else}}
            
            <div name="main_admin_div" class="main">
                
                <div class="col-lg-4">
                    <div class="row">
                        <div class="alert alert-info" name="GameName">
                            <h4>{{getActiveGameName}}</h4>
                            <a href="{{pathFor 'games.mgmt'}}" class='btn btn-primary'>Games Management</a>
                        </div>
                    </div>
                    <div name="ListOfBetsForGame" class="well">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            <h4>Status</h4>
                                        </th>
                                        <th>
                                            <h4>Date/Time</h4>
                                        </th>
                                        <th>
                                            <h4 >Title</h4>
                                        </th>
                                        <th>
                                            <h4 >...</h4>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each betsForThisGame}}
                                    <tr>
                                        <td style="vertical-align:middle;">
                                            <span style="margin-top: 3px;margin-bottom: 3px;" class="label label-{{getStatusLabelType status}}">{{status}}</span>
                                        </td>
                                        <td style="vertical-align:middle;">
                                            <p style="margin-top: 3px;margin-bottom: 3px;">{{prettifyDate submitted_at}}</p>
                                        </td>
                                        <td style="vertical-align:middle;">
                                            <p style="margin-top: 3px;margin-bottom: 3px;"><a href="#" name="selectActiveBet">{{title}}</a></p>
                                        </td>
                                        <td style="vertical-align:middle;">
                                            <p style="margin-top: 3px;margin-bottom: 3px;">...</p>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8" name="AdmitActiveBetArea">
                <div class="row">
                    <div class="btn-group">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            New <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="#" data-sel-idx="0" name="newBetButton">BLANK</a></li>
                            <li class="divider"></li>
                            <li><a href="#" data-sel-idx="1" name="newBetButton">Next Play</a></li>
                            <li><a href="#" data-sel-idx="2" name="newBetButton">Quarter Result</a></li>
                            <li><a href="#" data-sel-idx="3" name="newBetButton">Total Score</a></li>
                          </ul>
                        </div>
                </div>
                {{#with getActiveBet}}
                <form id="bet_form">
                    <div class="well">
                        <table>
                            <tr><td>ID: </td><td>{{_id}}</td></tr>
                            <tr><td>Status:   </td><td><b>{{status}}</b></td></tr>
                            <br>
                            <tr><td>Title: </td><td><input type="text" id="bet_title" value="{{title}}"/></td></tr>
                            <tr><td>Question: </td><td><textarea name="active_bet_question" id=active_bet_question rows="3" cols="60">{{question}}</textarea></td></tr>
                            <br>
                            <tr><td>Option 1:</td><td>
                                <input size="50" type="text" name="option1_text" id="option1_text" value="{{getOutcomeData 0 'text'}}"/>&nbsp; &nbsp; &nbsp; <input type="text" name="option1_odds" size="4" id="option1_odds" value="{{getOutcomeData 0 'odds'}}" /> : 1
                            </td></tr>
                            <tr><td>Option 2:</td><td>
                                <input size="50" type="text" name="option2_text" id="option2_text" value="{{getOutcomeData 1 'text'}}"/>&nbsp; &nbsp; &nbsp; <input type="text" name="option2_odds" size="4" id="option2_odds" value="{{getOutcomeData 1 'odds'}}" /> : 1
                            </td></tr>
                            <tr><td>Option 3:</td><td>
                                <input size="50" type="text" name="option3_text" id="option3_text" value="{{getOutcomeData 2 'text'}}"/>&nbsp; &nbsp; &nbsp; <input type="text" name="option3_odds" size="4" id="option3_odds" value="{{getOutcomeData 2 'odds'}}" /> : 1
                            </td></tr>
                            <tr><td>Option 4:</td><td>
                                <input size="50" type="text" name="option4_text" id="option4_text" value="{{getOutcomeData 3 'text'}}"/>&nbsp; &nbsp; &nbsp; <input type="text" name="option4_odds" size="4" id="option4_odds" value="{{getOutcomeData 3 'odds'}}" /> : 1
                            </td></tr>
                            <br>
                            <tr><td>Actual Result:</td><td>
                                <input size="10" type="text" name="actual_result" id="actual_result" value="{{actual_result}}"/>
                            </td></tr>
                            <tr><td>Status update:</td><td>
                                <input type="text" name="status_update" id="status_update" value="{{status_update}}" />
                            </td></tr>
                            <br>
                            <tr><td>Submitted at:</td><td><b>{{prettifyDate submitted_at}}</b></td></tr>
                            <tr><td>Activated at: </td><td><b>{{prettifyDate activated_at}}</b> </td></tr>
                            <tr><td>Closed at: </td><td><b>{{prettifyDate closed_at}}</b> </td></tr>
                            <tr><td>Resolved at: </td><td><b>{{prettifyDate resolved_at}}</b> </td></tr>
                        </table>     
                        
                        <br>
                        <div class="row">
                            {{#if isNewBet}}
                                <button class="btn btn-primary" id="createNewBet">Create</button>
                                <br>
                            {{else}}
                                {{#unless isEq status "RESOLVED"}}
                                <button class="btn btn-default" id="saveBet">Save</button>
                                {{/unless}}
                                {{#if isEq status "HIDDEN"}}
                                <button class="btn btn-success" id="activateBet">Activate</button>
                                {{/if}}
                                {{#if isEq status "ACTIVE"}}
                                <button class="btn btn-warning" id="closeBet">Close</button>
                                {{/if}}
                                {{#if isEq status "CLOSED"}}
                                <button class="btn btn-info" id="resolveBet">Resolve</button>
                                {{/if}}
                                {{#if isEq status "RESOLVED"}}
                                    {{#if statistics}}
                                        <b>{{statistics.numberOfWinners}} / {{statistics.numberOfBets}}&nbsp;&nbsp;&nbsp; {{statistics.house_profit}}$&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
                                    {{/if}}
                                    Bet is resolved and cannot be changed<br>
                                {{/if}}
                                
                                <br>
                            {{/if}}
                            
                        </div>
                    </div>
                </form>
                {{/with}}
                </div>
                
            </div>
            
        {{/if}}
    <!--{{else}}-->
    <div class="row">
        No user
        {{> loginButtons}}
    </div>
    <!--{{/if}}-->
{{/ionContent}}
{{/ionView}}
</template>